<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>add_medicine_details</servlet-name>
        <servlet-class>add_medicine_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_medicine_code</servlet-name>
        <servlet-class>add_medicine_code</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_medicine_code</servlet-name>
        <servlet-class>update_medicine_code</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_homeopathy_details</servlet-name>
        <servlet-class>add_homeopathy_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>file_download</servlet-name>
        <servlet-class>file_download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_homeopathy_code</servlet-name>
        <servlet-class>update_homeopathy_code</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_doctors_details</servlet-name>
        <servlet-class>add_doctors_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_doctors_details</servlet-name>
        <servlet-class>edit_doctors_details</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_medicine_details</servlet-name>
        <url-pattern>/add_medicine_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_medicine_code</servlet-name>
        <url-pattern>/add_medicine_code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_medicine_code</servlet-name>
        <url-pattern>/update_medicine_code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_homeopathy_details</servlet-name>
        <url-pattern>/add_homeopathy_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>file_download</servlet-name>
        <url-pattern>/file_download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_homeopathy_code</servlet-name>
        <url-pattern>/update_homeopathy_code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_doctors_details</servlet-name>
        <url-pattern>/add_doctors_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_doctors_details</servlet-name>
        <url-pattern>/edit_doctors_details</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
